@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(218, 213, 213);
}

main {
  padding: 5rem 0;
}
.card.expanded {
  background-color: white;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 40%);
}
.card {
  margin: 1rem 2rem;
  border: 1px solid #272727;
  padding: 20px 10px;
  border-radius: 20px;
  width: 500px;

  transition: all 0.6s;
}
.card .card-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
}
.card .card-body {
  display: none;
}
.card.expanded .card-body {
  display: block;
}
.card .card-header button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}
.card .card-header button > i.fa-times-circle {
  color: rgb(123, 123, 123);
}
