* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-container {
  text-align: center;
  width: 500px;
  height: 500px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.btn {
  margin: 10px auto;
  padding: 1rem 2rem;
  border: none;
  background-color: rebeccapurple;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn.is-loading .loading {
  display: block;
}

.btn:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

.loading {
  margin: 0 5px;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-top-color: black;
  border-radius: 50%;
  display: none;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
