@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  background-color: var(--bgColor);
  color: var(--whiteColor);
  height: 100vh;
  display: flex;
  justify-content: center;

  transition: all 0.2s;
}
.container {
  width: 50vw;
}
.container header {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}
nav ul {
  list-style: none;
  display: flex;
  font-size: 1.2rem;
  justify-content: flex-start;
  align-items: center;
}
nav ul .tag {
  margin: 0 5px;
  padding: 0.5rem 1rem;
  color: var(--whiteColor);
  border: none;
  border-radius: 14px;
  border: 2.5px solid var(--secondaryColor);
  cursor: pointer;
  background-color: inherit;
  transition: all 0.4s;
}
nav ul .tag:hover {
  background-color: var(--secondaryColor);
  transform: translateY(-5px);
  color: white;
}
nav ul .tag.active {
  background-color: var(--secondaryColor);
  transform: translateY(-5px);
  color: white;
}

.projects-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
  flex-wrap: wrap;

  transition: flex-wrap 0.4s;
}
.projects-section.is-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.projects-section.is-loading .loading {
  display: flex;
}

a.project {
  color: var(--whiteColor);
  text-decoration: none;
}

.project {
  background-color: var(--primaryColor);
  padding: 10px;
  margin: 10px 5px;
  width: 8em;
  height: 150px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  transition: all 0.4s;
}
.project:hover {
  border: 2.5px solid var(--secondaryColor);
  box-shadow: var(--boxShadow);
  background-color: inherit;
  transform: translateY(-10px);
}
.project span {
  font-size: 15px;
  color: var(--secondaryColor);
}

.btn--dark_mode {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-image: url('../images/light.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #21212b;
  transition: background 0.4s;
}
.btn--dark_mode.is-dark {
  background-image: url('../images/dark.png');
  background-color: white;
}

.loading {
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  border-top-color: #ff7890;
  border-bottom-color: #d451c8;
  border-radius: 50%;
  display: none;
  animation: spinner 0.4s linear infinite;
}
.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--whiteColor);
  cursor: pointer;
}
/* github logo */

svg {
  fill: var(--whiteColor);
}
.octo-arm,
.octo-body {
  fill: var(--primaryColor);
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1615px) {
  .container {
    width: 85vw;
  }
}
@media screen and (max-width: 1440px) {
  .container {
    width: 85vw;
  }
  .projects-section {
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 90vw;
  }

  svg {
    width: 50px;
    height: 50px;
  }

  .projects-section {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 90vw;
  }
  .projects-section {
    justify-content: center;
  }
  svg {
    width: 50px;
    height: 50px;
  }
}
