@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins',
    sans-serif;
}

.main {
  width: 150px;
  height: 150px;
  padding: 30px 50px;
  background-color: rgb(235, 235, 235);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: black;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: rebeccapurple;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 10px;
  cursor: pointer;
}

#text {
  font-size: 55px;
}

.green {
  background-color: rgb(59, 192, 59);
}

.blue {
  background-color: rgb(42, 42, 255);
}

.red {
  background-color: rgb(251, 65, 65);
}

.btn:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}