.main {
  padding: 10px 20px;
  background-color: #ccc;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: black;
}
.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: rebeccapurple;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 10px;
  cursor: pointer;
}

#text {
  font-size: 55px;
}

.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}

.btn:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
