#hover {
  width: 150px;
  height: 150px;
  /* padding: 10px 20px; */
  background-color: rebeccapurple;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  transition: transform 0.6s;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
